.welcome-main {
    background-color: $primary-color;
    @include main-mobile;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-header{
    background-color: $primary-color;
    @include header-mobile;
}

.welcome-footer {
    background-color: $secondary-color;
    @include footer-mobile;
}

.welcome__h1{
    text-align: center;
    color: $secondary-color;
    font-weight: weight('bold');
    font-size: 40px;
}

.welcome__h3 {
    text-align: center;
    font-size: 24px;
    font-weight: weight('semibold');
    color: $secondary-color;
}

.welcome__div {
    text-align: center;
    height: 55px;
    width: 205px;
    background-color: $accent-color;
    border-radius: 30px;
    font-size: 24px;
    font-weight: weight('extrabold');    
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    user-select: none;
}

.welcome-header__i{
    color: $secondary-color;
    @include menu-icon;
}

.welcome {
    width: 70%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}
